<!DOCTYPE html>
<html>
<body>
    <h2>Checkout</h2>
    <button onclick="pay()">Pay Now</button>
    <p id="status"></p>

    <script>
        // CHANGE 'localhost' TO YOUR EC2 PUBLIC IP
        const PAYMENT_URL = "http://3.227.249.143:5003";

        async function pay() {
            const response = await fetch(`${PAYMENT_URL}/pay`, {
                method: 'POST'
            });
            const data = await response.json();
            document.getElementById('status').innerText = data.status;
        }
    </script>
</body>
</html>
